In [ ]:
import pandas as pd

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

sharks_df = pd.read_excel(url)

sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6985,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6986,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6987,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6988,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6989,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
#Date1

import pandas as pd

# URL to the dataset
url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

# Read the Excel file into a DataFrame
sharks_df = pd.read_excel(url)

# Convert the 'Date' column to datetime format and add a new column for cleaned dates
sharks_df['Date_Cleaned'] = pd.to_datetime(sharks_df['Date'], errors='coerce')

# Display the DataFrame with the cleaned dates
print(sharks_df.tail())
print(sharks_df.info())

             Date  Year        Type             Country              State  \
6985  Before 1903   0.0  Unprovoked           AUSTRALIA  Western Australia
6986  Before 1903   0.0  Unprovoked           AUSTRALIA  Western Australia
6987    1900-1905   0.0  Unprovoked                 USA     North Carolina
6988    1883-1889   0.0  Unprovoked              PANAMA                NaN
6989    1845-1853   0.0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province

                                 Location      Activity  \
6985                          Roebuck Bay        Diving
6986                                  NaN  Pearl diving
6987                       Ocracoke Inlet      Swimming
6988                 Panama Bay 8ºN, 79ºW           NaN
6989  Below the English fort, Trincomalee      Swimming

                       Name Sex  Age  ...  \
6985                   male   M  NaN  ...
6986                  Ahmun   M  NaN  ...
6987  Coast Guard personnel   M  NaN  ...
6988        Jules Patterson   M  NaN  ...
6989                   male   M   15  ...

                                     Source                             pdf  \
6985       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf
6986  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf
6987   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf
6988                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf
6989                             S.W. Baker              ND-0001-Ceylon.pdf

                                           href formula  \
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...
6989  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6989  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Date_Cleaned
6985       ND.0005            6.0         NaN         NaN          NaT
6986       ND.0004            5.0         NaN         NaN          NaT
6987       ND.0003            4.0         NaN         NaN          NaT
6988       ND.0002            3.0         NaN         NaN          NaT
6989       ND.0001            2.0         NaN         NaN          NaT

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990 entries, 0 to 6989
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6990 non-null   object
 1   Year            6988 non-null   float64
 2   Type            6972 non-null   object
 3   Country         6940 non-null   object
 4   State           6508 non-null   object
 5   Location        6425 non-null   object
 6   Activity        6405 non-null   object
 7   Name            6771 non-null   object
 8   Sex             6411 non-null   object
 9   Age             3996 non-null   object
 10  Injury          6955 non-null   object
 11  Fatal Y/N       6429 non-null   object
 12  Time            3464 non-null   object
 13  Species         3858 non-null   object
 14  Source          6971 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
 23  Date_Cleaned    6115 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(21)
memory usage: 1.3+ MB
None

In [ ]:
#Date2
sharks_df['Year'] = sharks_df['Year'].fillna(0)
sharks_df['Year'] = sharks_df['Year'].astype(int)
print(sharks_df.tail())
print(sharks_df.info())

             Date  Year        Type             Country              State  \
6985  Before 1903     0  Unprovoked           AUSTRALIA  Western Australia
6986  Before 1903     0  Unprovoked           AUSTRALIA  Western Australia
6987    1900-1905     0  Unprovoked                 USA     North Carolina
6988    1883-1889     0  Unprovoked              PANAMA                NaN
6989    1845-1853     0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province

                                 Location      Activity  \
6985                          Roebuck Bay        Diving
6986                                  NaN  Pearl diving
6987                       Ocracoke Inlet      Swimming
6988                 Panama Bay 8ºN, 79ºW           NaN
6989  Below the English fort, Trincomalee      Swimming

                       Name Sex  Age  ...  \
6985                   male   M  NaN  ...
6986                  Ahmun   M  NaN  ...
6987  Coast Guard personnel   M  NaN  ...
6988        Jules Patterson   M  NaN  ...
6989                   male   M   15  ...

                                     Source                             pdf  \
6985       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf
6986  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf
6987   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf
6988                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf
6989                             S.W. Baker              ND-0001-Ceylon.pdf

                                           href formula  \
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...
6989  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6989  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Date_Cleaned
6985       ND.0005            6.0         NaN         NaN          NaT
6986       ND.0004            5.0         NaN         NaN          NaT
6987       ND.0003            4.0         NaN         NaN          NaT
6988       ND.0002            3.0         NaN         NaN          NaT
6989       ND.0001            2.0         NaN         NaN          NaT

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990 entries, 0 to 6989
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6990 non-null   object
 1   Year            6990 non-null   int64
 2   Type            6972 non-null   object
 3   Country         6940 non-null   object
 4   State           6508 non-null   object
 5   Location        6425 non-null   object
 6   Activity        6405 non-null   object
 7   Name            6771 non-null   object
 8   Sex             6411 non-null   object
 9   Age             3996 non-null   object
 10  Injury          6955 non-null   object
 11  Fatal Y/N       6429 non-null   object
 12  Time            3464 non-null   object
 13  Species         3858 non-null   object
 14  Source          6971 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
 23  Date_Cleaned    6115 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(21)
memory usage: 1.3+ MB
None

In [ ]:
#Functions for cleaning data:
#Criteria: Apply at least five data cleaning techniques, such as handling null values, dropping columns, removing duplicated data, manipulating strings,
#formatting the data, etc., to prepare the dataset for analysis.

#Table showing the count of most common based on column.
def most_common(col,col2):
  """
  Function to find the most common value using two columns
  """
  most_common = sharks_df.groupby([col,col2]).size().sort_values(ascending=False).head(50)
  return most_common

most_common('State','Species ') #code works

#Remove null values
def remove_null(col, value):
  """
  To remove nulls from a column, add the column name in the first parameter and
  then the value to be replaced with
  """
  number_of_nulls = sharks_df[col].isna().sum()
  user_input = input(f"There is {number_of_nulls} null values in column {col}, would you like to replace them? (y/n)")
  if user_input == 'y':
      sharks_df[col] = sharks_df[col].fillna(value)
      print(f"Null values in column {col} have been replaced with value {value}")
  else:
    print("No changes made.")
  return sharks_df[col]
remove_null('Activity','N/A') #code works

#Remove special characters
import re
def remove_char(value):
  """
  Function to remove special characters. Please name one column to remove special characters
  """
    if isinstance(value, str):
        return re.sub(r'[^a-zA-Z\s]', '', value).strip()
    return value
sharks_df['Activity'].apply(remove_char) #code works.

#Check for special characters in a column
def check_char(column_data):
  """
  Function to check for special characters using regen. Please name one column to check for special characters
  """
  result = column_data.str.contains(r'[^a-zA-Z\s]', regex=True, na=False).sum()
  table = column_data.str.contains(r'[^a-zA-Z\s]', regex=True, na=False)
  print(f"The number of values with special characters in this column is: {result}")
  return column_data[table].head(50)
check_char(sharks_df['State'])

# # Apply consistency in string formats to upper case
# import re
# def upper_case(value):
#   """
#   Function to make values in a column upper case
#   """
#     if isinstance(value, str):
#         return re.sub(r'[^a-zA-Z\s]', '', value).strip().upper()
#     return value
# sharks_df['Activity'].apply(upper_case) #code works.

# #Dataframed based on the relevant columns
# new_sharks_df = sharks_df[['Date','Year','Country','State','Location','Species ','Type','Fatal Y/N']]
# #Amount of null values
# new_sharks_df.isna().sum()

State                  Species
California             White shark                                           40
Western Cape Province  White shark                                           28
Florida                Shark involvement not confirmed                       25
                       4' shark                                              23
Hawaii                 Tiger shark                                           22
Florida                3' shark                                              19
                       4' to 5' shark                                        18
Western Australia      White shark                                           18
Florida                1.2 m [4'] shark                                      17
KwaZulu-Natal          Shark involvement prior to death was not confirmed    17
Florida                6' shark                                              16
South Australia        White shark                                           16
New South Wales        Wobbegong shark                                       16
Florida                Invalid                                               14
New South Wales        Shark involvement prior to death unconfirmed          13
Florida                5' shark                                              12
New South Wales        White shark                                           12
Florida                3' to 4' shark                                        12
Eastern Cape Province  Raggedtooth shark                                     11
Florida                Bull shark                                            11
New South Wales        Shark involvement prior to death was not confirmed    11
Florida                Nurse shark                                           11
                       Shark involvement prior to death was not confirmed    10
                       1.8 m [6'] shark                                      10
                       1.5 m [5'] shark                                      10
California             Shark involvement not confirmed                        9
Hawaii                 Shark involvement prior to death was not confirmed     9
South Carolina         Shark involvement not confirmed                        9
Florida                1.2 m to 1.5 m [4' to 5'] shark                        9
Queensland             Bull shark                                             8
Florida                Spinner shark                                          8
California             Invalid                                                8
New South Wales        6' shark                                               7
                       Shark involvement not confirmed                        6
Florida                Blacktip or spinner shark                              6
                       Blacktip shark                                         6
Tyrrhenian Sea         White shark                                            6
New South Wales        Invalid                                                6
North Carolina         Shark involvement not confirmed                        6
KwaZulu-Natal          Invalid                                                6
New South Wales        Bull shark                                             6
KwaZulu-Natal          Questionable incident                                  6
Florida                Unidentified species                                   6
Queensland             Tiger shark                                            6
Western Australia      Wobbegong shark                                        6
Hawaii                 Shark involvement prior to death unconfirmed           6
Eastern Cape Province  White shark                                            6
New South Wales        2 m shark                                              5
Texas                  4' shark                                               5
Florida                Questionable incident                                  5
dtype: int64

In [ ]:
#Code below is to replace any special characters and making any lowercase to uppercase
sharks_df['Fatal Y/N Cleaned'] = sharks_df['Fatal Y/N'].str.replace(r'[^a-zA-Z]', '', regex=True).str.strip().str.upper()
#dataframe filter to check fatal attacks and after the year 2000
filtered_df = sharks_df.loc[(sharks_df['Fatal Y/N Cleaned'] == 'N') & (sharks_df['Year'] > 2000)]
#filtering the dataframe by the columns below for better visibility
relevant_columns = ['Year','Country','State','Location','Injury','Species ','Fatal Y/N Cleaned','Type','Activity']
filtered_df = filtered_df[relevant_columns]
filtered_df
# pd.Series(filtered_df['Species ']).value_counts()
#Table showing the count of ocurrences where state-species-activity are together in each row.
location_fatal_counts = filtered_df.groupby(['State']).size()
location_fatal_counts = location_fatal_counts.sort_values(ascending=False)
print(location_fatal_counts)

State
Florida              622
New South Wales      163
Hawaii               155
California           125
Western Australia    109
                    ...
Kent                   1
Kentucky               1
Kingston Parish        1
Kochi Prefecture       1
d’Étang-Salé           1
Length: 295, dtype: int64

In [ ]:
#Sex

series = pd.Series(sharks_df['Sex']).unique()
types = sharks_df['Type'].nunique()
print(types)
print(series)

#The column for gender [Sex] has 12 different unique values which are not standarized. this includes values with spaces at the beginning, at the end, "nan", "Mx2","N", ".". We must clean these with a function.
#Key Problems: values in columns have spaces and not applicable values. We'd need to clean through functions.

12
['M' 'F' nan ' M' 'M ' 'lli' 'M x 2' 'N' '.']

In [ ]:
#Time

series = pd.Series(sharks_df['Time']).unique()
types = sharks_df['Time'].nunique()
print(types)
print(series)

432
['1340hrs' '1615hr' '1710hr' '?' '1637hr' 'AM' '16.30hrs' '1600hr'
 '11.30hr' '1100hr' '1735hr' '11hr15' '16hr15' 'after 1200hr' '1400hr'
 15.5 '13h15' '9h' 1300 '14h' '15h30' 'Not stated' '13h30' '9h15'
 'Not advised' '13h40' '12h30' '16h00' nan '11h30' '06h30' '20h00' '13h00'
 '11h12' '16h30' '15h00' '02h00' '09h15' 'Early Morning' '16h32' '11h00'
 'Morning' '10h30' '13h20' '14h00' '09h00' '10h20' '15h05' '17h00' '15h45'
 '07h45' '10h40' '07h50' '01h00' '10h00' 'Afternoon' '19h30' 'Evening'
 '17h50' '09h30' '08h45' '"Midday"' '16h25' '13h55' '13h50' '17h20'
 '13h45' '10h10' '14h35' 'Night' '1500h ' '19h15' '11h20' '07h15' '07h00'
 '18h00' '08h00' '14h20' '17h30' '07h20' '14h50' '-16h30' '12h00' '17h17'
 '11h15' '19h00' '07h53' '16h10' '11h17' '17h45' '10jh45' 'Early  morning'
 '13h12' '07h30' '11hoo' '11h43' '10h15' '14h09' '12h15' '19h12' '15h20'
 '16h40' '11h24' '12h50' '07h31' '14h45' '19h20' 'Dusk' '11h45' '06h40'
 '`17h00' '07h51' '11h46' '20h30' '12h23' '07h07' '16h39' '15h57' '14h30'
 '16h45' '10j30' '08h15' '08h56' '15h40' '18h30' '07h58' '17h40'
 '09h00-10h00' '17h10' '09h36' '08h40' '06h00' 'Sunset' '10h45' 1415
 '14h00-15h00' '14h15' '09h08' '15h59' '08h30' '12h20' '10h50' 'Midday'
 '09h40' '14h33' '12h58' '"Evening"' '16h15' '23h00' '06h50' '12h45'
 '11h55' '22h20' '08h48' '16h21' '16h26' '18h45' '03h00' '06h15'
 'Before 10h00' '06h45' 'Early afternoon' '06h55' '13h42' '09h29' '10h47'
 '14h11' '15h35' '14h40' '14h00  -15h00' 'Late afternoon' '16h50' '21h50'
 '17h35' '19h00, Dusk' '15h01' 1000 '23h30' '10h44' '13h19'
 'Shortly before 12h00' '17h34' '08h50' '09h50' '9h00' '10h43'
 'After noon' '15h15' '19h05' '14h30 / 15h30' '22h00' '16h20' '14h34'
 '15h25' '14h55' '17h46' 'Morning ' '15h49' 'Midnight' '09h30 / 10h00'
 '18h15' '04h00' '10h25' '10h45-11h15' '15h52' '19h45' '12h10' '18h05'
 '11h41' '12h25' '17h51' '16h12' '09h45' '05h00' '03h30'
 'Sometime between 06h00 & 08hoo' '16h18' '11h10' '07h00 - 08h00'
 '18h15-18h30' '17h01' '09h57' '08h20' '17h58' '15h19' '10h55' '15h55'
 '12h40' '16h05' '14h10' '13h24' '09h00 - 09h30' '0830' '11h40' '08h10'
 '15h56' 'Just before noon' '07h56' '1600' '16h35' '09h05' '19h28' '12h38'
 '05h50' '15h50' '11h05' 'Early morning' 'Dawn' '05h45' '13h25' '13h26'
 '09h11' '18h20' '13h51' 'A.M.' '08h05' '10h35' '15h44' '21h00'
 'Lunchtime' '15j45' '09h35' '10h27' '10h16' '0500' 'Before 07h00' '09h20'
 '10h00 -- 11h00' '12h05' '14h21' '18h50' '15h53' '"Just before 11h00"'
 '11h115' '20h15' '12h39' '07h05' '  ' '13h05' 'N' '11h50'
 'Just before sundown' '17h55' '22h30' '17h15' '11h30 ' '06h10'
 'Between 05h00 and 08h00' '07h08' '17h00 or 17h40' '>08h00' '--' '12h02'
 '12h55' '16h14' '17h11' '00h30' '14h37' '10h07' '13h53' '13h23'
 'Just after 12h00' '02h30' '11h56' ' ' 'Shortly after midnight' '14h25'
 '13h345' '\xa0 ' '06h47' '09h00 -10h00' '20h45 (Sunset)' 'Late morning'
 'P.M.' '18h40' '13h14' '13h06' 'Shortly before 13h00' '12h34' '11h53'
 '8:04 pm' '12h46' '12h48' '17h42' '12h35'
 'Possibly same incident as 2000.08.21' 'After Dusk' '11h57' 'Noon'
 '11h25' '18h25' '10h28' '14h16' '09h55' '2 hours after Opperman' '09h30 '
 'Mid afternoon' 'Mid morning' '11h48' '11h00 / 11h30' '07h19' '13h37'
 '11h06' '"Night"' '18h30?' '11h58' '11h51' '18h12' '07h10' '07h40'
 '12h33' '30 minutes after 1992.07.08.a' '>06h45' '15h06' '12h54'
 'Between 06h00 & 07h20' '16h55' '05h40' '<07h30' '21h30' '17h00 Sunset'
 'Nightfall' 'X' '08h57' '18h30 (Sunset)' '06j00' '08h35' '10h22' '02h45'
 'Prior to 10h37' 'Daybreak' '18h10' '>12h00' 'Mid-morning' '08h55'
 '16h30 or 18h00' 'Just before dawn' ' 14h00' 'Daytime' 'Dark'
 '10h00 / 11h00' '"After lunch"' '07h32' '15h00 or 15h45' '>17h00'
 '19h00 / 20h00' '12h45 / 13h45' '14h00 - 15h00' 'night' '03h45 - 04h00'
 '13h10' '09h30 / 15h30' '08h00 / 09h30' '19h35' '12h00 to 14h00' '13h35'
 'Late night' '01h32' '10h30 or 13h30' '16h23' '15h00j' 'Midday.'
 '"After dark"' '10h00 or 14h00' '19h10' '2 hrs before sunset'
 '18h15 to 21h30' 1500 '"shortly before dusk"' '>17h30' '>14h30'
 'Between 11h00 & 12h00' 'After 04h00' '11h01 -time of ship sinking'
 'Ship aban-doned at 03h10' '19h55' 'After dusk'
 'FATAL  (Wire netting installed at local beaches after this incident.)'
 '01h30' 'After midnight' 'Late afternon' '05h30' '08h58'
 '"Early evening"' 'Late Afternoon' '   ' 'Before daybreak' 'dusk'
 'Before 10h30' '06h00 -- 07h00' '01h50' '17h00-18h00' '19h00-20h00']

In [ ]:
Series = sharks_df.info
Series

<bound method DataFrame.info of                      Date    Year        Type             Country  \
0     2025-01-11 00:00:00  2025.0    Provoked                 USA
1     2025-01-02 00:00:00  2025.0  Unprovoked       New Caledonia
2     2025-01-02 00:00:00  2025.0  Unprovoked           Australia
3     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
4     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
...                   ...     ...         ...                 ...
6985          Before 1903     0.0  Unprovoked           AUSTRALIA
6986          Before 1903     0.0  Unprovoked           AUSTRALIA
6987            1900-1905     0.0  Unprovoked                 USA
6988            1883-1889     0.0  Unprovoked              PANAMA
6989            1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                    State                                 Location  \
0                  Hawaii            Off Haleiwa Boat Harbour Oahu
1            Grande Terre              Islet of Kendek near Koumac
2         South Australia  Granites Beach near Westall Streaky Bay
3     North of Marsa Alam                                  Red Sea
4     North of Marsa Alam                                  Red Sea
...                   ...                                      ...
6985    Western Australia                              Roebuck Bay
6986    Western Australia                                      NaN
6987       North Carolina                           Ocracoke Inlet
6988                  NaN                     Panama Bay 8ºN, 79ºW
6989     Eastern Province      Below the English fort, Trincomalee

          Activity                                    Name Sex  Age  ...  \
0           Diving  Male not stated was a dive tour worker   M   23  ...
1     Spearfishing                        Robert Cuewapuru   M   40  ...
2          Surfing                           Lance Appleby   M   28  ...
3     SCUBA Diving                         Peppino Fappani   M   69  ...
4     SCUBA Diving                       Gianluca Di Gioia   M   48  ...
...            ...                                     ...  ..  ...  ...
6985        Diving                                    male   M  NaN  ...
6986  Pearl diving                                   Ahmun   M  NaN  ...
6987      Swimming                   Coast Guard personnel   M  NaN  ...
6988           NaN                         Jules Patterson   M  NaN  ...
6989      Swimming                                    male   M   15  ...

                                                 Source  \
0                     Kevin McMurray Trackingsharks.com
1                         Johannes Marchand Todd Smith
2     Glen Folkard: Simon De Marchi News.com.au: The...
3     Todd Smith : Kevin McMurray Trackingsharks .co...
4     Todd Smith : Kevin McMurray Trackingsharks .co...
...                                                 ...
6985                   H. Taunton; N. Bartlett,  p. 234
6986              H. Taunton; N. Bartlett,  pp. 233-234
6987               F. Schwartz, p.23; C. Creswell, GSAF
6988                                The Sun, 10/20/1938
6989                                         S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
6985          ND-0005-RoebuckBay.pdf
6986               ND-0004-Ahmun.pdf
6987  ND-0003-Ocracoke_1900-1905.pdf
6988      ND-0002-JulesPatterson.pdf
6989              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...
6989  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6989  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Fatal Y/N Cleaned
0              NaN            NaN         NaN         NaN                 N
1              NaN            NaN         NaN         NaN                 Y
2              NaN            NaN         NaN         NaN                 Y
3              NaN            NaN         NaN         NaN                 N
4              NaN            NaN         NaN         NaN                 Y
...            ...            ...         ...         ...               ...
6985       ND.0005            6.0         NaN         NaN                 Y
6986       ND.0004            5.0         NaN         NaN                 Y
6987       ND.0003            4.0         NaN         NaN                 Y
6988       ND.0002            3.0         NaN         NaN                 Y
6989       ND.0001            2.0         NaN         NaN                 Y

[6990 rows x 24 columns]>

In [ ]:
#Age
Series = pd.Series(sharks_df['Age']).unique()
print(Series)
numeric_series = pd.to_numeric(Series, errors='coerce')

[23 40 28 69 48 '60+' '?' 57 24 45 61 27 38 16 33 30 15 41 14 26
 'Middle age' 18 21 49 25 46 19 20 65 64 '13' nan '11' '46' '32' '29' '10'
 '64' '62' '39' '22' '15' '16' '21' '66' '52' '20' '44' '26' '47' '55'
 '30' '59' '8' '50' '45' '34' '38' '30s' '37' '9' '19' '20/30' '35' '65'
 '20s' '77' '60' '49' '42' '!2' '24' '73' '25' '18' '50s' '58' '67' '17'
 '14' '6' '41' '53' '68' '43' '40' '51' '31' 39 58 51 17 10 13 60 '40s' 68
 35 62 'teen' 8 22 32 56 'Teen' 12 42 36 37 50 'M' 9 11 34 '!6' 31 '!!' 47
 55 7 71 59 53 54 75 '45 and 15' 73 52 29 70 4 63 44 '28 & 22'
 '22, 57, 31' '60s' "20's" 43 67 74 '9 & 60' 'a minor' 6 3 82 66 72 '23'
 '12' '36' '63' '71' '48' '70' '18 months' '57' '7' '28' '33' '61' '74'
 '27' '3' '56' '28 & 26' '5' '54' '86' '18 or 20' '12 or 13' '46 & 34'
 '28, 23 & 30' 'Teens' 77 '36 & 26' '8 or 10' 84 '\xa0 ' ' ' '30 or 36'
 '6½' '21 & ?' '33 or 37' 'mid-30s' '23 & 20' 5 ' 30' '7      &    31'
 ' 28' '20?' "60's" '69' '32 & 30' '16 to 18' '87' 'Elderly' 'mid-20s'
 'Ca. 33' '74 ' '45 ' '21 or 26' '20 ' '>50' '18 to 22' 'adult' '9 & 12'
 '? & 19' '9 months' '25 to 35' '23 & 26' 1 '(adult)' '33 & 37' '25 or 28'
 '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32' '50 & 30' '17 & 35'
 'X' '"middle-age"' '13 or 18' '34 & 19' '33 & 26' '2 to 3 months' '4'
 'MAKE LINE GREEN' ' 43' '81' '"young"' '7 or 8' 78 '17 & 16' 'F'
 'Both 11' '9 or 10' 'young' '36 & 23' '  ' '78' 'A.M.' '?    &   14'
 '10 or 12' '31 or 33' '2½' '1' '13 or 14']

In [ ]:
#Year
Series = pd.Series(sharks_df['Year']).unique()
print(Series)
numeric_series = pd.to_numeric(Series, errors='coerce')
# print(numeric_series)

#Find the corresponding rows for years below 1500.

[2025. 2024. 2026. 2023. 2022. 2021. 2020. 2019. 2018. 2017.   nan 2016.
 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007. 2006. 2005. 2004.
 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996. 1995. 1984. 1994. 1993.
 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986. 1985. 1983. 1982. 1981.
 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973. 1972. 1971. 1970. 1968.
 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960. 1959. 1958. 1957. 1956.
 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948. 1848. 1947. 1946. 1945.
 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937. 1936. 1935. 1934. 1933.
 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925. 1924. 1923. 1922. 1921.
 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913. 1912. 1911. 1910. 1909.
 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901. 1900. 1899. 1898. 1897.
 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889. 1888. 1887. 1886. 1885.
 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877. 1876. 1875. 1874. 1873.
 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865. 1864. 1863. 1862. 1861.
 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852. 1851. 1850. 1849. 1847.
 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837. 1836. 1835. 1834. 1832.
 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1823. 1822. 1819. 1818. 1817.
 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805. 1804. 1803. 1802. 1801.
 1800. 1797. 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783. 1780. 1779.
 1776. 1771. 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748. 1742. 1738.
 1733. 1723. 1721. 1703. 1700. 1642. 1691. 1640. 1638. 1637. 1617. 1595.
 1580. 1555. 1554. 1543. 1518. 1500. 1000.   77.    5.    0.]

In [ ]:
#Activity

# print(sharks_df['Activity'].value_counts())
# print(sharks_df['Location'].value_counts())
# print(sharks_df.groupby('Fatal Y/N')['Activity'].count())
# print(sharks_df.groupby('Location')['Fatal Y/N'].value_counts())

location_freq = sharks_df['State'].value_counts(ascending=False)
top5_less_common = location_freq.head(50)
top5_less_common_series = pd.Series(top5_less_common)
print(top5_less_common_series)

State
Florida                  1185
New South Wales           522
Queensland                350
Hawaii                    344
California                324
Western Australia         234
KwaZulu-Natal             218
Western Cape Province     197
South Carolina            173
Eastern Cape Province     168
North Carolina            118
South Australia           117
Victoria                   95
Texas                      81
Pernambuco                 80
North Island               76
Torres Strait              70
New Jersey                 56
South Island               45
New York                   45
Tasmania                   44
Oregon                     31
Abaco Islands              29
Northern Territory         23
Central Province           23
South Province             21
Havana Province            19
Virginia                   19
Massachusetts              18
Louisiana                  18
Guerrero                   17
Puerto Rico                17
Alabama                    17
Georgia                    17
Madang Province            16
Gaza                       16
Quintana Roo               15
New Ireland Province       15
Veracruz                   15
Luzon Island               13
Khuzestan Province         13
North Province             12
Adriatic Sea               12
Mediterranean Sea          11
Kingston Parish            11
Malampa Province           11
Tyrrhenian Sea             11
Rio de Janeiro             11
Maryland                   10
Baja California            10
Name: count, dtype: int64

In [ ]:
#Country
# countries = pd.Series(sharks_df['Country']).unique()
# print(Series)
# special_char = [country for country in countries if pd.Series(country).contains(r'[^a-zA-Z\s]').any()]
# print(special_char)
#Strings with low caps, NaN, high caps, and special characters (i.e. "/-")

# Quick overview of the data

In [ ]:
sharks_df['Date Cleaned'] = sharks_df.to_datetime(['Date'])
sharks_df.head()

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [ ]:
#Step 1 or cleaning:
#Identify the columns that need cleaning.
#Date: stored as string needs to be integer. There are ranges in some of the older years.
#Year: stored as numbers though there is NaN values and values below 1500 that need investigation.
#Type:
#Country: stored as strings but need to delete the non letters and either make them all low caps or high caps.
#State:

In [ ]:
# Split location into location and county
import pandas as pd
url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

sharks_df = pd.read_excel(url)
sharks_df


# Split the 'Location' column into 'Location' and 'County'
sharks_df[['Location', 'County']] = sharks_df['Location'].str.split(',', n=1, expand=True)

# Clean up the new columns by stripping extra whitespace
sharks_df['Location'] = sharks_df['Location'].str.strip()
sharks_df['County'] = sharks_df['County'].str.strip()

sharks_df['Location'].unique()

array(['Off Haleiwa Boat Harbour Oahu', 'Islet of Kendek near Koumac',
       'Granites Beach near Westall Streaky Bay', ..., 'Roebuck Bay',
       'Panama Bay 8ºN', 'Below the English fort'], dtype=object)

In [ ]:

# Strip whitespace and standardize capitalization
sharks_df['Country'] = sharks_df['Country'].str.strip().str.title()
sharks_df['State'] = sharks_df['State'].str.strip().str.title()

# Replace common errors or inconsistent entries
country_replacements = {
    'Usa': 'USA', 'U.S.A.': 'USA', 'United States Of America': 'USA',
    'Aus': 'Australia', 'Uk': 'United Kingdom'
}

state_replacements = {
    'New South Wales ': 'New South Wales', 'Fla': 'Florida',
    'Ca': 'California', 'Wa': 'Washington'
}

sharks_df['Country'] = sharks_df['Country'].replace(country_replacements)
sharks_df['State'] = sharks_df['State'].replace(state_replacements)

# Fill missing values
sharks_df['Country'] = sharks_df['Country'].fillna('Unknown')
sharks_df['State'] = sharks_df['State'].fillna('Unknown')

# Check for unique values and outliers
print("Unique Countries:", sharks_df['Country'].unique())
print("Unique States:", sharks_df['State'].unique())

# Drop rows with invalid values if necessary
# Example: Drop rows with 'Unknown' in both columns
sharks_df = sharks_df[~((sharks_df['Country'] == 'Unknown') & (sharks_df['State'] == 'Unknown'))]

sharks_df[['Country','State']].head(40)

Unique Countries: ['USA' 'New Caledonia' 'Australia' 'Egypt' 'Thailand' 'New Zealand'
 'Maldives' 'Hawaii' 'Honduras' 'Morocco' 'Jamaica' 'Belize'
 'Maldive Islands' 'Turks And Caicos' 'French Polynesia' 'Tobago'
 'Bahamas' 'India' 'Trinidad' 'South Africa' 'Mexico' 'Philippines'
 'Coral Sea' 'Spain' 'Portugal' 'Samoa' 'Colombia' 'Ecuador' 'Cuba'
 'Brazil' 'Seychelles' 'Argentina' 'Fiji' 'England' 'Japan' 'Indonesia'
 'Columbia' 'Costa Rica' 'British Overseas Territory' 'Canada' 'Jordan'
 'St Kitts / Nevis' 'St Martin' 'Papua New Guinea' 'Reunion Island'
 'Israel' 'China' 'Ireland' 'Italy' 'Malaysia' 'Libya' 'Mauritius'
 'Solomon Islands' 'St Helena, British Overseas Territory' 'Comoros'
 'Reunion' 'United Kingdom' 'United Arab Emirates' 'Cape Verde'
 'Dominican Republic' 'Cayman Islands' 'Aruba' 'Mozambique' 'Puerto Rico'
 'Atlantic Ocean' 'Greece' 'St. Martin' 'France' 'Trinidad & Tobago'
 'Kiribati' 'Diego Garcia' 'Taiwan' 'Palestinian Territories' 'Guam'
 'Nigeria' 'Tonga' 'Scotland' 'Croatia' 'Saudi Arabia' 'Chile' 'Antigua'
 'Kenya' 'Russia' 'Turks & Caicos' 'United Arab Emirates (Uae)' 'Azores'
 'South Korea' 'Malta' 'Vietnam' 'Madagascar' 'Panama' 'Somalia' 'Nevis'
 'British Virgin Islands' 'Norway' 'Senegal' 'Yemen' 'Gulf Of Aden'
 'Sierra Leone' 'St. Maartin' 'Grand Cayman' 'Liberia' 'Vanuatu'
 'Venezuela' 'Sri Lanka' 'Uruguay' 'Micronesia' 'Caribbean Sea' 'Okinawa'
 'Tanzania' 'Marshall Islands' 'Egypt / Israel' 'Northern Arabian Sea'
 'Hong Kong' 'El Salvador' 'Angola' 'Bermuda' 'Montenegro' 'Iran'
 'Unknown' 'Tunisia' 'Namibia' 'North Atlantic Ocean' 'South China Sea'
 'Bangladesh' 'Palau' 'Western Samoa' 'Pacific Ocean' 'British Isles'
 'Grenada' 'Iraq' 'Turkey' 'Singapore' 'New Britain' 'Sudan'
 'Johnston Island' 'South Pacific Ocean' 'New Guinea' 'Red Sea'
 'North Pacific Ocean' 'Federated States Of Micronesia'
 'Mid Atlantic Ocean' 'Admiralty Islands' 'British West Indies'
 'South Atlantic Ocean' 'Persian Gulf' 'Red Sea / Indian Ocean'
 'North Sea' 'Nicaragua' 'American Samoa' 'Andaman / Nicobar Islandas'
 'Gabon' 'Mayotte' 'The Balkans' 'Sudan?' 'Martinique' 'Indian Ocean'
 'Guatemala' 'Netherlands Antilles' 'Northern Mariana Islands'
 'Iran / Iraq' 'Java' 'Central Pacific' 'Solomon Islands / Vanuatu'
 'Southwest Pacific Ocean' 'Bay Of Bengal' 'Mid-Pacifc Ocean' 'Slovenia'
 'Curacao' 'Iceland' 'Italy / Croatia' 'Barbados' 'Monaco' 'Guyana'
 'Haiti' 'San Domingo' 'Kuwait' 'Falkland Islands' 'Crete' 'Cyprus'
 'West Indies' 'Burma' 'Lebanon' 'Paraguay' 'British New Guinea' 'Ceylon'
 'Ocean' 'Georgia' 'Syria' 'Tuvalu' 'Indian Ocean?' 'Guinea'
 'Andaman Islands' 'Equatorial Guinea / Cameroon' 'Cook Islands' 'Peru'
 'Africa' 'Algeria' 'Coast Of Africa' 'Tasman Sea' 'Ghana' 'Greenland'
 'Mediterranean Sea' 'Sweden' 'Roatan' 'Between Portugal & India'
 'Djibouti' 'Bahrein' 'Korea' 'Red Sea?' 'Asia?' 'Ceylon (Sri Lanka)']
Unique States: ['Hawaii' 'Grande Terre' 'South Australia' 'North Of Marsa Alam'
 'Queensland' 'Western Australia' 'Phang Nga Province' 'Bay Of Waitangi'
 'Kaafu' 'Maui' 'Florida' 'Tela' 'Trujillo Colon' 'Southern Morocco'
 'Montego Bay' 'Gulf Of Honduras' 'Nsw' 'Texas' 'Floria' 'California'
 'Maahvah Laamu Atoll' 'Galveston' 'Providenciales Island'
 'Gambier Islands' 'South Carolina' 'Graet Courland Bay'
 'Clarence Town Long Isand' 'Nunu Atoll' 'Maharashtra' 'Unknown'
 'New  South Wales' 'Paradise Island' 'Eastern Cape Province' 'Sonora'
 'New South Wales' 'South Island' 'Guerrero' 'New Providence   Isoad'
 'Jalisco' 'Grand  Bahama Island' 'Westerm Australia' 'North Island'
 'Southern Red Sea' 'Quintana Roo' 'Belize District' 'South Sinai'
 'Bolinao' 'North Carolina' 'Valencia' 'Norte' "Savai'I Island" 'New York'
 'San Andrés Island' 'Galapagos Islands' 'Red Sea Protectorate' 'Freeport'
 'Tahiti' 'Poum' 'Lucayan Lucayan Archipelago' 'Utah' 'New Jersey'
 'Mayabeque' 'Easten Cape Province' 'Artemisa' 'Pernambuco'
 'Praslin Island' 'South Province' 'Patagonia' 'Taveuni Island'
 'Gulf Of California' 'Vaavu Atoll' 'Knz' 'New South Ales' 'Samoa'
 'Louisiana' 'Mississippi' 'Western  Australia' 'Victoria'
 'Western Cape Province' 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Bora Bora' 'Georgia'
 'Phuket' 'Alabama' 'Kzn' 'Isla De San Andres' 'Guanacoste'
 'Kwazulu-Natal' 'São Paulo.' 'Turks And Caicos' 'Nova Scotia' 'Maryland'
 'Chanthaburi Province' 'Bahamas' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'The Narrows' 'Raa Atoll' 'Oregon'
 'Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tasmania' 'Tuamotu Islands' 'Maine' 'Exumas' 'Delaware' 'Abaco Islands'
 'Muang District Of Satun Province,' 'Canary Islands' 'Vanua Levu'
 'Southland' 'Praslin' 'Central Province' 'Holquin' 'Moorea' 'Baja'
 'Saint-Gilles' 'Guam' 'Northern Territory' 'Cayman Islands'
 'Rhode Island' 'Chatham Islands' 'Quinta Roo' 'Lucayan Archipelago'
 'Bélep Islands' 'Noumea' 'Fernando De Noronha' 'Liaoning Province'
 'Upolo' 'St. Marys Parish' 'Massachusetts' 'County Cork'
 'Chieti, Province' 'Guizhou Province'
 'San Andres And Providencia Archipelago' 'The Exuma Cays' 'Colima'
 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll' 'New Providence' 'Alagoas'
 'Boi Island, Victoria' 'Sepang' 'Holquin Province' 'Pamplemousses'
 'Upolu Island' 'Shizuoka Prefecture' 'Castellón'
 'New Providence District' '40 Miles Off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Anjouan'
 'Ibiza Island' 'South Devon' 'Sharjah,' 'Baja California Sur' 'Saint-Leu'
 'Luzon Island' 'Tamaulipas' 'Saint-Andre' 'Bimini' 'Tuamotos'
 'North Province' 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Le Port' 'Rangiroa' 'Saint-Gilles-Les-Bains' 'Sardinia' 'Sinaloa'
 'Central Tuamotu' 'D’Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Catalonia' 'West End'
 'Atsumi Peninsula' 'Palmyra Atoll' 'Wallis And Futuna'
 'Baie De Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 Miles Se Of Tarawa Atoll' 'Southern District' 'Bay Of Biscay'
 'Exuma Islands' 'Saint-Paul' 'Taitung' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'U" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John'S" 'Santa Elena' 'East New Britain'
 'Bois-Blanc' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter The Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés Archipelago' 'Kedah'
 'Umm Al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 'Saint Gilles' 'Virginia' "Ha'Api" 'Western Province' 'Jeju Province'
 'Binh Dinh Province' 'Antsiranana Province' 'Sinai Peninsula'
 'Off Vanua Levu' 'Merizo' 'Rio Grande Do Sul' 'Dubai' 'Torres Strait'
 'Eastern Province' 'Eastern Cape  Province' 'Maputo Province' 'Bocas'
 'Fife' 'Devon' 'Makira-Ulawa Province' 'Mombasa' 'Catalunya'
 'St. Johns Reef' 'Off Green Island' 'North Region' 'Batangas Province'
 'Strait Of Malacca' 'Guantanamo Province' 'Maranhão' 'Red Sea'
 'Batanes Provine' 'Luzon' 'Split-Dalmatia Count,' 'North Devon'
 'Us Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory Of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook Islans'
 'Surigao Del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Western Area'
 '300 Miles From Antigua' '800 Miles From Land'
 '600 Nm West Of The Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'Ungch'Ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago De Cuba Province' 'Camaguey Province'
 'Conservatória District' 'Kuril Islands In The Pacific'
 'Wakayama Prefecture' "Nuku'Alofa" 'Saint-Benoît'
 'South Island, Near Karitane North Of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio De Janeiro' 'Nueva Esparta'
 'North Pacific Coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'Kwazulu-Natal Between Port Edward And Port St Johns'
 'Milne Bay Province' 'Cikobia Island (North Of Vanua Levu)'
 'Rayong Province' 'Zamboanga Del Sur Province' 'Rio Grande De Norte'
 'Off The Western Coast Of Peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Alinglaplap Atoll' 'Adriatic Sea' 'Ralik Chain'
 'Grand Baie' "L' Etang Salé-Les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches Region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale"
 'South Sinai, Gulf Of Aqaba' 'Cat Cay' 'Missouri'
 '12 Miles Off The North Coast' 'Chatham Islands, East Of New  Zealand'
 'Saint-Denis' 'Vava’U' 'Clearwater Bay' 'New Territories'
 'Aichi Prefecture' 'Tafea Province' 'Kagoshima Prefecture' 'Saint-Joseph'
 'Banaadir Region' 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On The Kowloon Penisula, South Of Sai Kung' 'Ehime Prefecture'
 'Tongapatu Group' 'West Africa' 'Wakaya Island' 'Mexico / Caribbean Sea'
 'Antarctic Ocean' 'La Saline-Les-Bains' 'Sea Of Japan' 'Tavenui'
 'Ligurian Sea' "L'Etang-Salé" 'Kowloon Peninsula' 'Port Shelter'
 'Laucala Island' 'Sainte-Marie' 'Great Exuma Island' 'Sainte-Suzanne'
 'Tuscany' 'Tyrrhenian Sea' 'New Ireland' 'Valpariso Province'
 'Viscayan Sea' 'Manfredonia' 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro'
 'Between Dr And Puerto Rico' 'Between Honiara & Isabel Island'
 'Florida Straits' 'Gulf Of Lyons' 'Cádiz' 'Sicily' 'Andikira Fokithes'
 'Central Philippines' 'Northwest Italy' 'English Channel'
 'North & South Carolina' 'Carolina Coast' 'Kumamoto Prefecture' 'Biserta'
 'Saint-Philippe' 'Chungnam' 'Eronogo Region' 'Coquimbo'
 'Pagasitikos Gulf' "St. Mary'S Parish" 'Romblon Province'
 'Lamu Archipelago' 'Los Vilos' 'Island Of Kos' 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Golfo De Venezia'
 'Ralik Archipelago' 'South China Sea 200 Miles From Hong Kong'
 'Reggio Calabria Province' 'Mirs Bay' 'Genoa Province'
 'Ganges-Brahmaputra Delta' 'Split-Dalmatia County'
 'Primorje-Gorski Kotar County' 'Aulong Island' 'Western Caroline Islands'
 'Antibes' 'Illeginni Atoll' 'Istria County' 'Between Beira & Maputo'
 'Istria' 'Khuzestan Province' 'Inhambe Province' 'Namonuito Atoll'
 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 Nm Southeast Of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'Limón Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay Of Maputo'
 'Duke Of York Islands' 'Taranto Province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 Miles Southwest Of O'Ahu, Hawaii" 'West Coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East Of The Gulf Of Aqaba'
 'Bougainville (North Solomons)' 'Okayama Prefecture' 'San Blas'
 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 'Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas Coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off Coast Of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off The Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºs, 142ºe' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  Miles From Bermuda'
 '25 Km Off The Coast Of Iran & 483Km From Mouth Of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (Enenkio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute From Suez To Aden (Yemen)'
 '180 Miles Southeast Of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In The English Channel' 'Cook Strait'
 'Unknown, Treated At Wick, Scotland' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (Wo)' 'Between Timor & Darwin, Australia'
 'Pacific Coast' 'St. Georges' 'Eastern  Province'
 'Northwest Of Viti Levu' 'West New Britain Province' 'Rigo Subdistrict'
 'Masbate' '400 Miles Southeast Of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'Panama' 'In The Gulf Stream' 'Mersin Province' 'Guyamas'
 'Between England & South Africa' 'Mindanao' 'Kikori River Mouth'
 'South Chungcheong Province' 'Ahirkapi Coast' 'Tutuila Island'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 Miles East Of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near The Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 Miles West Of Hawaii'
 'Izo Islands' 'Open Sea' 'Aden' 'New Ireland, Bismarck Archipelago'
 '18S / 50E' 'Illinois' 'Isles Del Rosario' 'Wake Island' 'Isle Of Man'
 'Nagasaki Prefecture' 'Liguaria' 'Slovenia' 'South Shore'
 'Buenos Aires Province' '330 To 350 Miles East Of Wake Island'
 'Gulf Of Panama' 'Genoa  Province' 'Abau Sub District, Central Province'
 'Teramo' 'Red Sea State' 'Curacao' 'Port Louis Province' 'Montserrado'
 'Bay Of Maputu' 'Sofala Province' 'Salerno' 'Salerno Province' 'Taranto'
 'Naples Province' 'Sago Prefecture' 'Savona' 'Southern Province'
 'Jakarta Harbour' 'Singapore Harbor' 'Calabria' 'Shatt-El-Arab River'
 'Shatt-Al-Arab River' 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma’Shur Sea Inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-Es-Salaam' '"Head Of The Gulf"' 'Ryukyu'
 'In Transit Between Tinian And Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 Miles East Of Luzon'
 'Bernardino Strait Near Gulf Of Leyte'
 'Off Samar Island In The Gulf Of Leyte' 'Lake Nicaragua (Fresh Water)'
 'Pacific Ocean' 'Near The Fiji Islands' '40 Miles South Of Naples'
 'Northwest Of Papua New Guinea' 'Between Hawaii And U.S.A.'
 'Off South American Coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 Miles East Of St. Thomas (Virgin Islands)'
 'West Of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North Of Pernambuco, Brazil' 'Off Coast Of Ecuador' 'Trelawney Province'
 'In Convoy Ob 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Carabobo' 'Ascension Bay' 'North China'
 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City' 'West Bengal'
 'Argyllshire' 'Arran' 'Argyll' 'Fishing Grounds' 'Newfoundland'
 'Isle Of Wight' 'Makira-Uluwa Province' 'Northern (Oro) Province'
 'Herzliyah' 'Elqui Province' 'Istanbul' 'St Michael Parish'
 'Barlavento Islands' 'Viti Levu Island' 'Bay Of Fundy' 'Manila'
 'French Southern Territories' 'Niua' 'Black River' 'Phoenix Islands'
 'Cienfuegos Province' 'Santiago Island' 'Near Puntarenas' 'Porto Seguro'
 'Salinas Bay' 'Golfo Di Genova In The Ligurian Sea' 'Sants-Montjic'
 'South Of The Equator' 'Bay Of Monaco' 'Vancouver'
 '2 To 3 Miles Off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 Miles Offshore' 'Galica' 'Demerara County' 'Vera Cruz' 'Manila Bay'
 'Lucy' 'East Yorkshire' 'Cavite Province, Luzon' 'Cape Haitien' 'Leyte'
 'Halifax' 'Turtle Bogue'
 '60 Miles North Of San Domingo In The West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos'
 'Trieste' '5Aint-Denis' 'Viti Levu Group' 'Balearics' 'Málaga'
 'Georges Bank' 'Zambesi River' 'Colón Province' '30 Nm From Singapore'
 'Andalucia' 'Sfax' 'South Atlantic Ocean' 'Galicia' 'Gulf Of Suez' 'Java'
 'Tiburon Peninsula' 'Oaxaca' 'Harare Province' 'Khánh Hòa Province'
 'Maluku Province' 'Suez Canal' 'Nusa Tenggara' 'Between Noumea & Sydney'
 'Villa Clara Province' 'Ancona Province' 'Quezon' 'Rio San Juan'
 'Southern Cyprus' 'Syracuse' 'Western Viscayas' 'Mindoro Occidental'
 'Negros' 'Imperia Province' 'Muala' 'East Coast' 'Ratak'
 'Socotra Islands' 'Off Cape Haitien' 'Moluccas' 'Bocas Del Toro'
 'Provence' 'Bay Of Campeche' 'Rangoon' 'Bay Of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Brittany' 'Line Islands'
 'Woodlark Islands' 'Munxar Reef' 'Northern Peloponnese'
 'Between Perth & Colombo' 'Gujarat' 'Lukovo' 'Cortés'
 'Somewhere Between Philadelphia And Hiogo, Japan' "Côte D'Azur"
 'Maldonado Coast' 'Western Banks' 'Andaman Islands'
 'Off The Coast Of West Africa' 'Misamis Oriental' 'Strait Of Messina'
 'Hoogly River' 'Cyclades Archipelago' 'Mount Lebanon'
 'Between Hastings & Fairlight, Sussex' 'Gilbert Islands'
 'Lomaiviti Provine' 'Off The Coast Of South America' '22ºn, 88ºe'
 'Matanzas Province (North Coast)' 'Alpes Maritime' 'Edinburgh'
 'Eastern Catalona' '300 Miles East Of Mauritius' 'Foveaux Strait'
 'Sumatra' 'Conakry Region' 'Corfu' 'Malaga' 'Bonin Islands'
 'Fernando Po Island' 'Mangaia Island' 'Between Australia & Usa'
 'Tongatapu' 'Norfolk' 'Island Of St. Thomas' 'Cumberland'
 'Sanma Province' "35º39 : 165º8'" 'Cuba' 'Paraiba' 'Cape Coast'
 'Rivers State' 'St. Anne' 'St Helena' 'Skagerrak Arm Of The North Sea'
 'Las Perlas Archipelago' 'Bardestrand' 'Southwest Coast' 'Quebec'
 'Kerala' 'Nice & Marseilles' 'Magarita Or Cubagua Islands' 'Yucatan'
 'Ionian Sea' 'Piraeus' 'Off Thessaly' 'Paloma' 'Bocas Del Toro Province'
 'Gulf Of Tadjoura' 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Malaita Province' 'South Korea'
 'Milne Bay  Province' 'Island Of Volos' 'Amirante Islands'
 'Kadavu Island Group' 'Toamasina Province' 'Riau Province' 'Bikini Atoll'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island']

             Country                  State
0                USA                 Hawaii
1      New Caledonia           Grande Terre
2          Australia        South Australia
3              Egypt    North Of Marsa Alam
4              Egypt    North Of Marsa Alam
5          Australia             Queensland
6          Australia             Queensland
7          Australia      Western Australia
8           Thailand     Phang Nga Province
9        New Zealand        Bay Of Waitangi
10          Maldives                  Kaafu
11            Hawaii                   Maui
12         Australia             Queensland
13               USA                Florida
14          Honduras                   Tela
15               USA                Florida
16          Honduras         Trujillo Colon
17           Morocco       Southern Morocco
18           Jamaica            Montego Bay
19            Belize       Gulf Of Honduras
20         Australia                    Nsw
21         Australia      Western Australia
22               USA                Florida
23               USA                Florida
24               USA                  Texas
25               USA                  Texas
26               USA                  Texas
27               USA                 Floria
28               USA                Florida
29               USA                 Hawaii
30               USA                 Hawaii
31               USA                Florida
32               USA                Florida
33               USA             California
34   Maldive Islands    Maahvah Laamu Atoll
35               USA              Galveston
36  Turks And Caicos  Providenciales Island
37  French Polynesia        Gambier Islands
38               USA         South Carolina
39            Tobago     Graet Courland Bay